<style>
  .message_container {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
  }
</style>
<div class="message_container">
  <p>Olá, {{name}}</p>
  <p>E-mail enviado usando um sistema de fila!</p>
</div>